<div id="main-container" class="container-fluid">
  <div id="profile-header" class = "row">
    <h2>Welcome Dude! <%= @user.username %></h2>
  </div>
  <div id="profile-info" class="row">
    <p>You have asked <%= @user.questions.count %> questions </p>
    <p>You have answered <%= @user.answers.count %> questions </p>
  </div>
</div>
