<html>
  <body>
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-xs-6">
          <p> Dude Overflow</p>
        </div>
        <div id="blanktopbar" class= "col-xs-3">
        </div>
        <div id="signup" class="col-xs-1">
          <p> sign up </p>
        </div>
        <div id="login" class="col-xs-1">
          <p> login </p>
        </div>
        <div id="tour" class="col-xs-1">
          <p> profile </p>
        </div>
      </div>
      <div class="row">
        <div id="votes" class="col-xs-1">
          <p> votes </p>
        </div>
        <div id="answers" class="col-xs-1">
          <p> answers </p>
        </div>
        <div id="views" class="col-xs-1">
          <p> views </p>
        </div>
        <div id="question" class="col-xs-9">
        </div>
      </div>
    </div>
  </body>
</html>

