<h4><%= @answer.body %></h4>
  <% if logged_in? %>
    <%= render partial: "votes/answer_vote", locals: {answer: @answer, voteable_type: "Answer", voteable_id: @answer.id, vote_count: @answer.vote_count } %>
  <% else  %>
  <h3><%= @answer.vote_count %></h3>
<% end %>
