#logo

#navbar

#sidebar
  background-color: rgb(157,215,40)

#logo
  font-size: 40px

#content
  background-color: blue

#votecountlist

#votecountlabel, #votelabel, #answercountlabel, #answerlabel, #viewscountlabel, #viewslabel
  text-align: center
  width: 80px
  margin: 0 auto
  display: inline
  min-width: 100px



#question-holder
  border: solid black 1px

#main-container
  padding: 0px

#row
  min-width: 100px


.holder p
  font-size: 12px

.container-fluid
  margin: 30px

